*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  background-image: url("covid19.png");
  background-size: 100px;
  background-repeat: repeat;
  background-color: #fff;
}
#heading{
	font-family: 'Concert One', cursive;
	font-size: 40px;
	text-align: center;
	padding: 15px;
	padding-bottom: 20px;
	background: #660000;
	color: white;
}
#card{
	width: 70vw;
	padding: 30px 10px;
	margin: auto;	
	margin-top: 40px;
	border: 2px solid #330000;
	border-radius: 10px;
	background: white;
}
#card h6{
	font-size: 20px;
	text-align: center;
	padding: 15px;
}
#card h5{
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}
#questiontxt{
	font-size: 20px;
	margin-bottom:10px;
}
.opt{
	display: inline-block;
	padding: 5px;
	margin: 10px;
	width: 30vw;
 	box-shadow: 0px 0px 2px 2px #888888;
 	font-size: 16px;
 	border-radius :2px;
}
.hover:hover{
	cursor: pointer;
	background:#666666;
	color:#fff ;
}
#optionb{
	float: right;
}
#optiond{
	float: right;
}
#finish{
	margin: auto;
}
#next{
	float: right;
}
#options{
	margin-bottom: 15px;
}
.qbtn{
	padding:3px;
	border: 1px solid black;
	border-radius: 3px;
}
.qbtn:hover{
	cursor: pointer;
}
